[package]
license = "AGPL-3.0-only"
name = "zinc_core"
version = "1.1.0"
edition = "2021"

[lib]
path = "src/lib.rs"

[dependencies]
pest = "2.7"
pest_derive = "2.7"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"


